body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  /* background: rgb(131, 23, 80);
  background: linear-gradient(
    90deg,
    rgba(131, 23, 80, 1) 0%,
    rgba(133, 97, 142, 1) 50%,
    rgba(29, 126, 119, 1) 100%
  ); */
  background: rgb(222, 67, 149);
  background: linear-gradient(
    90deg,
    rgba(222, 67, 149, 1) 0%,
    rgba(217, 117, 176, 1) 24%,
    rgba(179, 129, 190, 1) 50%,
    rgba(123, 168, 208, 1) 77%,
    rgba(48, 203, 192, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
